<!DOCTYPE html>
<html>
     <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../../css/style1.css">
       <title>My Landing Page </title>
       <style>
       .mains{
            display:inline-block;
            cursor:pointer;
            margin-left:10px;
            margin-right:10px
       }
       .bar1, .bar2, .bar3{
            width:35px;
            height:5px;
            background-color:#ffffff;
            margin:6px 0;
            transition:0.4s;
       }
       .change .bar1{
            -webkit-transform:rotate(-45deg)
            translate(-9px,6px);
            transform: rotate(-45deg)
            translate(-9px, 6px);
       }
       .change .bar2{opacity: 0;}
       .change .bar3{
            -webkit-transform:rotate(45deg)
            translate(-8px, -8px);
            transform:rotate(45deg)
            translate(-8px, -8px);
       }

       .card {
            padding: 1px;
            margin-left:auto; 
            margin-right: auto; 
            margin-bottom: 20px;
            border-radius: 5px;
            justify-content: flex-start;
            width: auto;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background-color: #FFFFFF;
            text-decoration: none;
            
       }
       p{
            text-align: center;
       }

       .card:hover {
            padding: 5;
            transform: scale(1.05, 1.05);
            background-color: #FFFFFF;
            border-radius: 5px;
       }
       .dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color:orange;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
   
      </style>
     </head>
    <body>
         <header>
         
            <img src="../../img/IMG-20211122-WA0052.jpg" width="180px" height="180px"/>

         </header>
        
     <script>
          function myFunction(x){
               x.classList.toggle("change");
          }
          onclick="myFunction(this)"
     </script>
         <section class="features  flex-parent " >
         <div class="dropdown mains"  >
               <div class="bar1"></div>
               <div class="bar2"></div>
               <div class="bar3"></div>
               <div class="dropdown-content">
                    <a href="./Cosmetics"><b>Cosmetics</b></a>
                    <a href="./first"><b>Provisions</b></a>
                    <a href="#"><b>Stationary</b></a>
                    <a href="#"><b>Home</b></a>
                    <a href="#"><b>About</b></a>
                  </div>
           </div>
           <input class="mysearch" id='search' name="searchitem" type="search" placeholder="search for an item...."/>
           
           <i style="margin-left:auto;" class='bx bxs-shopping-bag'id="cart-icon" ><img src="../../img/shopping-bag-solid-24.png" ></i>
           <!-- <a href="" class="btn">COSMETICS</a> 
           <a href="" class="btn">PROVISIONS </a>
            <a href="" class="btn">STATIONARY </a>
            <a href="" class="btn">LAUNDRY & CLEANING </a>
           <!--<a href="" class="searchButton"><img src="searchIcon.png" width="30px" height="36px"/></a>--> 
         </section>
          <section class="rice flex-parent">
               <div class=" card flex-item-left">     
               <a  href=" " class=""><div ><img src="../../img/MadarPowder.jpg" width="220px" height="220px">
                    <p ><b>MadarPowder <br/>5GHS</b></p>  
                   <p> <input type="button" value="+ Add to Cart"></p> </div>
                </a ></div>

               <div class=" card flex-item-right">     
                    <a href=" " class=""><div ><img src="../../img/SunlightLiquidSoap.jpg" width="220px" height="220px">
                         <p><b>SunlightLiquidSoap <br/>15GHS</b></p>  
                        <p><input  type="button" value="+ Add to Cart"> </p> 
                     </div>
                     </a >
               </div>    
               
                    <div class=" card flex-item-left">     
                    <a  href=" " class=""><div ><img src="../../img/MadarPowder.jpg" width="220px" height="220px">
                         <p ><b>Medisoft <br/>5GHS</b></p>  
                        <p> <input type="button" value="+ Add to Cart"></p> </div>
                     </a ></div>
     
                    <div class=" card flex-item-right">     
                         <a href=" " class=""><div ><img src="../../img/SunlightLiquidSoap.jpg" width="220px" height="220px">
                              <p><b>SoClean <br/>15GHS</b></p>  
                             <p><input  type="button" value="+ Add to Cart"> </p> 
                          </div>
                          </a >
                    </div> 
                    
                         <div class=" card flex-item-left">     
                         <a  href=" " class=""><div ><img src="../../img/MadarPowder.jpg" width="220px" height="220px">
                              <p ><b>Ariel <br/>5GHS</b></p>  
                             <p> <input type="button" value="+ Add to Cart"></p> </div>
                          </a ></div>
          
                         <div class=" card flex-item-right">     
                              <a href=" " class=""><div ><img src="../../img/SunlightLiquidSoap.jpg" width="220px" height="220px">
                                   <p><b>JamarSoap <br/>15GHS</b></p>  
                                  <p><input  type="button" value="+ Add to Cart"> </p> 
                               </div>
                               </a >
                         </div>       
                
              <!--  <div class=" card flex-item-left">     
                    <a href=" " class="animate"><div><img src="GeishaSoapAleoVera&Honey.jpg" width="220px" height="220px">
                         <p><b>GeishaAleoVera<br/>8.00 GHS</b></p>  
                         <p><input type="button" value="+ Add to Cart"></p> </div>
                     </a ></div>
                     <div class=" card flex-item-right">     
                         <a href=" " class="animate"><div><img src="GeishaSoapLemon&Honey.jpg" width="220px" height="220px">
                              <p><b>GeishaLemon&Honey <br/>8.00 GHS</b></p>  
                             <p><input type="button" value="+ Add to Cart"></p> </div>
                          </a ></div>
                          <div class="card  flex-item-left">     
                              <a href=" " class="animate"><div><img src="GeishaSoapRose&Honey.jpg" width="220px" height="220px">
                                   <p><b>GeishaRose&Honey <br/>8.00 GHS</b></p>  
                                   <p><button class="input" onclick="document.location='default.asp'">+Add to cart </button></p> </div>
                               </a ></div>
                               <div class=" card flex-item-right">     
                                   <a href=" " class="animate"><div><img src="QueenElizabethLotion.jpg" width="220px" height="220px">
                                        <p><b>QueenElizabeth <br/>20.00 GHS</b></p>  
                                       <p><input type="button" value="+ Add to Cart"></p> </div>
                                    </a ></div>
                                    <div class="card  flex-item-left">     
                                        <a href=" " class="animate"><div><img src="VaselineCocoaButterLotion.jpg" width="220px" height="220px">
                                             <p><b>VaselineCocoa <br/>18.00 GHS</b></p>  
                                             <p><button class="input" onclick="show()">+Add to cart </button></p> </div>
                                         </a ></div> -->
                    </section>
      <footer  class="features  flex-parent "  >
          <ul>
           <li><a href="#"> Facebook</a></li>
           <li><a href="#"> instagram</a></li>
           <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms of Service</a></li>
           <li><a href="#"> Copyright Information</a></li>
          </ul>
     </footer>
                                       
                               
                  