<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <title>Login</title>
 <link rel="stylesheet"  href="../../css/Log_Sign_Style.css" >
</head>
<body>
    <div class="login-form">
    <h1>Login Form</h1>
    <form action="/auth" method="post">
     <p>User Name</p>
     <input type="text" name="username" placeholder="Username">
     <p>Password</p>
     <input type="password" name="password" placeholder="password">
     <button type="submit">Login</button>
    </form>

    </div>
</body>
</html>
