<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <title>Login Form</title>
 <link rel="stylesheet"  href="../../css/Log_Sign_Style.css" >
</head>
<body>
    <div class="login-form">
    <h1>SignUP</h1>
    <form action="/signUp" method="post">
    <p>Email</p>
    <input type="email" name="email" placeholder="example@gmail.com">
     <p>User Name</p>
     <input type="text" name="username" placeholder="User name">
     <p>Password</p>
     <input type="password" name="password" placeholder="password">
     <p>Repeat Password</p>
     <input type="password" name="" placeholder="Reapeat password">
     <p>phone</p>
     <input type="text" name="phone" placeholder="Telephone">
     <p>address</p>
     <input type="text" name="address" placeholder="Address">
     <button type="submit">SignUP</button>
    </form>

    </div>
</body>
</html>
